<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Users and Interests</title>

<!--     <link rel="stylesheet" href="/stylesheets/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/fonts.css">
    <link rel="stylesheet" href="/stylesheets/book_viewer.css"> -->
  </head>
  <body>
    <div class="content">
      <%= yield %>
    </div>
  </body>

  <footer>There are <%= count_users %> total users and <%= count_interests %> total interests.</footer>
</html>